// This file should hard code all fonts that will be expected by the theme
// It should NOT contain any other style information.

// This file is explicitly separated out from the base src/index.styl file so that components like the
//  b2c-lic-login and b2b-portal-navbar can import the fonts without importing all of the theme.

//This import includes support for
// benton-sans           @ 400, 500, 600, 700, 800
// benton-sans-condensed @ 400, 500, 600, 700, 800
// @import url('https://use.typekit.net/fxi3mjz.css')