// /*!
//  * Helpers for Stylus development
//  * Copyright Inmar, Inc.
//  */

// hard code imports of fonts first, otherwise this will not work
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap')

@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css')
// @require '../node_modules/css-reset-and-normalize/stylus/reset-and-normalize'

// set up all of our variables, helpers, etc first
@require "helpers"

// Figure out what we want to include & build and add it.
@require "includes"