////
/// @author Jessica Kennedy
/// @page elements/forms
////

/// @name Textarea
/// @description
/// Basic text area, which uses the same classes as the `inm-input`
///
/// @markup {html}
/// <textarea name="sample" class="inm-input" aria-label="Sample Textarea">This is a textarea</textarea>
///