// the documentation for inm-icon exists inside of `templates/_icons.styl`
// so that we can loop over all the different possible icons
.c-icon
  width: 1em
  height: 1em
  use
    fill: currentColor



